<div>
  <div ng-show="false" class="container ng-cloak">
    <uib-accordion close-others="oneAtATime"> <!-- dont think oneAtATime is needed -->
      <uib-accordion-group class="text-center" heading="Messages">
        <div class="row">
          <div class="col-md-12">
            <h3>Message could go here</h3>
          </div>
        </div>      
      </uib-accordion-group>
    </uib-accordion>
  </div>
<!---------------------------------------------------------------------------------------->  
  <div class="row">
    <div class="wrapper col-md-7 ng-cloak">
    <div class="row">
      
      <div class="col-md-offset-4 col-md-8"> 
        <h3>{{pollHeader}} <small ng-hide="user.isLoggedIn">- Please log in to vote or create a poll.</small></h3>
        <!-- Single button -->
        <div ng-show="user.isLoggedIn" class="btn-group pull-right" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
            View <span class="caret"></span>
          </button>
          <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="setAllPolls(true)" href="">All Polls</a></li>
            <li role="menuitem"><a ng-click="setAllPolls(false)" href="">My Polls</a></li>
          </ul>
        </div>
        <hr />  
      </div>
    </div>
    <div ng-show="user.isLoggedIn && !displayAllPolls && userHasNoPolls" class="row">
      <div class="col-md-offset-4 col-md-8">
        <h3>You have no polls to display. Please make a new poll.</h3>
      </div>
    </div>
    <div ng-repeat ="poll in polls">
        <dt-poll-tile poll="poll" user="user" users="users" display-all-polls="displayAllPolls" post-vote="redirectToPollShow(poll.item._id)" deletable="false"></dt-poll-tile>
    </div>
  </div>
  
  <nav class="wrapper col-md-3 ng-cloak">
    <div class="ng-cloak">
      <h3>{{num_polls}} Polls, {{users.stats.num_votes}} Votes</h3> 
      <button ng-show="user.isLoggedIn" type="button" class="btn btn-default pull-right" ng-click="isCollapsed = false">New Poll</button>
      <hr /> 
    </div>
  	<div uib-collapse="isCollapsed" class="ng-cloak">
      <dt-new-poll></dt-new-poll>
   </div> 
    <dt-top-users users="users" mytitle="Top Poll Voters" myheading="Votes" myfield="polls_voted"><br></dt-top-users>
    <dt-top-users users="users" mytitle="Top Poll Posters" myheading="Polls" myfield="polls_created"><br></dt-top-users>
    <!--<dt-score-board users="users" mytitle="Top Poll Voters" myheading="Votes" myfield="polls_voted"><br></dt-score-board>
    <dt-score-board users="users" mytitle="Top Poll Posters" myheading="Polls" myfield="polls_created"><br></dt-score-board>-->
  </nav>
    </div>
</div>

