<!---------------------------------------------------------------------------------------->  
    <div class="row">
      
      
        <!--Main Content -->
          <div class="wrapper col-md-7 ng-cloak">
            
           <div class="row">
            
            <div class="col-md-offset-4 col-md-8"> 
              <h3>{{pollHeader}} <small ng-hide="user.isLoggedIn">- Please log in to vote.</small></h3>
              <!-- Single button -->
              <hr />  
            </div>
           </div>
 
            <div ng-show="!poll.isPollDeleted && (displayAllPolls || (!displayAllPolls && poll.isPollAuthoredByUser))">
                
                
                <div class="row">
                
                
                  <div class="col-md-offset-4 col-md-7">
                    <a class="h4 poll-question" href=""><span>{{poll.item.poll.question}}</span></a>

                  </div>
                  <div id="_upDownFlagX">
                    <!--<a ng-click="downVote($index)" class="btn btn-default btn-xs" ng-show="isLoggedIn && !isPollAuthoredByUser[$index]" role="button"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                    <a ng-click="upVote($index)" class="btn btn-default btn-xs" ng-show="isLoggedIn && !isPollAuthoredByUser[$index]" role="button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                    <a ng-click="flagPoll($index)" class="btn btn-default btn-xs" ng-show="isLoggedIn && !isPollAuthoredByUser[$index]" role="button"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></a>-->
                    <div class="col-md-1">
                      <a ng-click="deletePoll(poll)" class="btn btn-default btn-xs" href="/#/" ng-show="user.isLoggedIn && poll.isPollAuthoredByUser" role="button">X</a>
                    </div>
                  </div>
                  
</div><!-- row -->                  
                
                    <div ng-repeat="option in poll.item.poll.options track by $index">
                      <div class="row"> 
                        <div class="col-md-offset-4 col-md-1">
                          <a ng-hide="poll.hasVotedForPoll" ng-click="vote(poll, $index)" class="btn btn-default btn-xs" ng-class="{ 'disabled': !user.isLoggedIn }" role="button">Vote</a>
                          <p class="poll-option text-center" ng-show="poll.hasVotedForPoll" ng-class="{ 'user_voted': poll.has_voted_for_option[$index] }">
                             <ng-pluralize count="poll.aggregate_votes[$index]" when="{ 
                               '1': '1 vote', 
                               'other': '{} votes'}">
                             </ng-pluralize>
                          </p>
                        </div>
                        <div class="col-md-7"> 
                          <p class="poll-option" ng-class="{ 'user_voted': poll.has_voted_for_option[$index] }">{{ option }}</p>
                        </div>      
                      </div>                  
                    </div>      
                  
                  <div class="row tag-group">
                    <div class="col-md-offset-5 col-md-3">
                      <div ng-repeat="tag in poll.item.poll.tags" class="tag small-text">
                        <span >{{tag}}</span>
                      </div>
                    </div>
                    <div class="signature-top col-md-3 small-text">
                      asked by {{poll.item.author.username}} on {{poll.item.created_at | date }}
                    </div>
                    <div class="signature-bottom col-md-offset-8 col-md-3 small-text">
                      <img ng-src={{poll.img}} alt="poll creator" height="30" width="30">
                      <a class="stars" title='{{users.lookup[poll.item.author.username].polls_created}} polls'>
                        <span>{{users.lookup[poll.item.author.username].polls_created}} </span>
                        <span class="glyphicon glyphicon-star created_polls" aria-hidden="true"> </span>
                      </a>
                      <a class="stars" title='{{users.lookup[poll.item.author.username].polls_voted}} votes'>
                        <span>{{users.lookup[poll.item.author.username].polls_voted}} </span>
                        <span class="glyphicon glyphicon-star voted_polls" aria-hidden="true"> </span>
                      </a>
                    </div>
    
                  </div>                  
                  <div class="col-md-offset-4 col-md-8">
                    <hr />
                  </div>
                  
                <!--</div> comment row -->
                  
              </div>
 
          </div>
        <!--Nav Bar -->
        
        <nav class="wrapper col-md-3 ng-cloak">
          <div class="ng-cloak">
            <h3>{{num_polls}} Polls, {{users.num_votes}} Votes</h3>
            
            <div ng-show="user.isLoggedIn && poll.hasVotedForPoll" class="btn-group pull-right" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                  View <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a ng-click="displayBarGraph=true" href="">Bar Chart</a></li>
                  <li role="menuitem"><a ng-click="displayBarGraph=false" href="">Pie Chart</a></li>
                </ul>
            </div>
            
            <hr />
          </div>
        
<div ng-show="user.isLoggedIn && poll.hasVotedForPoll">
          
      		<div ng-show="displayBarGraph" class="well well-lg ng-cloak leader-board">
		        <div class="row">
		          <div class="col-md-12">
		            <h4 class="text-center">{{poll.item.poll.question}}</h4>
		          </div>
		        </div>
            <div class="row">
              <div class="col-md-12">
	              <br>

                  <canvas id="bar-chart" class="chart chart-bar" chart-data="data" chart-labels="labels" 
                      chart-legend="true" chart-series="series" chart-click="onClick"></canvas>                   

              </div>
            </div>
  		    </div>

      		<div ng-hide="displayBarGraph" class="well well-lg ng-cloak leader-board">
		        <div class="row">
		          <div class="col-md-12">
		            <h4 class="text-center">{{poll.item.poll.question}}</h4>
		          </div>
		        </div>
            <div class="row">
              <div class="col-md-12">
	              <br>

                  <canvas id="pie-chart" class="chart chart-pie"
                    chart-data="pie_data" chart-labels="pie_labels" chart-legend="true">
                  </canvas> 

              </div>
            </div>
  		    </div>
      		         
          <hr />

</div>
  
       </nav>
    </div>

  </div>